body {
	font-family: Trebuchet MS;
	background: #868686;
	margin: 0;
	padding: 0;
}
#container {
}

#pass {
  background: #FFF;
	padding: 25px 40px;
}
#indent {
	text-indent: -5000;
	color: white;
}
.float {
	float:right;
	margin: 0px;
	padding: 0px;
}
.tbl_pass {
	padding: 0px;
	border: 1px solid #ccc;
}
.tbl_pass td {
	padding: 6px;
	border: 0px solid #ccc;
}

h1 {
	background: #FFF;
	padding: 40px;
	margin-bottom: 0;
}
a, a:visited, a:active {
	color: #666;
	padding: 3px;
	background: white;
}
a:hover {
	color: #CC6633;
	background: white;
	text-decoration: none;
	padding: 3px;
}
h1 blink {
	font-weight:normal;
}

.controls {
	display: inline-block;
}
.controls label {
	display: block;
}
#pass_block input {
	display: block;
	padding: 20px 0;
	border: 0;
	width: 100%;
	font-size: 36px;
	text-align: left;
	font-family: monospace;
}
.length_input .input_group span,
#pass button {
	display: inline-block;
	padding: 4px 12px;
	border: 0;
	font-size: 30px;
	background: #fcdd76;
	cursor: pointer;
}

.length_input .input_group span:hover,
#pass button:hover {
	background: #ffeba9;
}
.length_input .input_group span.active,
#pass button:active {
	background: #fbce3a;
}

#show {display:none;}

.length_input {
	display: inline-block;
	margin-bottom: 14px;
}

@media all and (max-width: 600px) {
	#pass_block input {
		font-size: 24px;
	}
}